<table class="table text-gray-400 border-separate space-y-6 text-sm border shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] w-full mt-1">
            <thead class="bg-white text-black">
                <tr>
                    <th class="p-2">Employee</th>
                    <th class="p-2 text-left">Prefession</th>
                    <th class="p-2 text-left">Space</th>
                    <th class="p-2 text-left">Departement</th>
                    <th class="p-2 text-left">Status</th>
                    <th class="p-2 text-left">Phone number</th>
                    <th class="p-2 text-left">Role</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <td class="p-2">
                        <div class="flex align-items-center">
                            <img class="rounded-full h-12 w-12  object-cover" src="https://images.unsplash.com/photo-1613588718956-c2e80305bf61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="unsplash image">
                            <div class="ml-3">
                                <div class="">Appple</div>
                                <div class="text-black">mail@rgmail.com</div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        Technology
                    </td>
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2">
                        <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                    </td>
        
                </tr>
                <tr class="bg-white">
                    <td class="p-2">
                        <div class="flex align-items-center">
                            <img class="rounded-full h-12 w-12   object-cover" src="https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="unsplash image">
                            <div class="ml-3">
                                <div class="">Realme</div>
                                <div class="text-black">mail@rgmail.com</div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        Technology
                    </td>
                    
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2">
                        <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                    </td>
                    
                </tr>
                <tr class="bg-white">
                    <td class="p-2">
                        <div class="flex align-items-center">
                            <img class="rounded-full h-12 w-12   object-cover" src="https://images.unsplash.com/photo-1600856209923-34372e319a5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2135&q=80" alt="unsplash image">
                            <div class="ml-3">
                                <div class="">Samsung</div>
                                <div class="text-black">mail@rgmail.com</div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        Technology
                    </td>
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2 font-bold">
                        200.00$
                    </td>
                    <td class="p-2">
                        <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                    </td>
                </tr>
            </tbody>
        </table>