               <!-- Right -->
                    <div class="w-full border h-[93vh] flex flex-col">
                        <!-- Header -->
                        <!-- <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
                            <div class="flex items-center">
                                <div>
                                    <img class="w-10 h-10 rounded-full" src="https://darrenjameseeley.files.wordpress.com/2014/09/expendables3.jpeg"/>
                                </div>
                                <div class="ml-4">
                                    <p class="text-grey-darkest">
                                        New Movie! Expendables 4
                                    </p>
                                    <p class="text-grey-darker text-xs mt-1">
                                        Andrés, Tom, Harrison, Arnold, Sylvester
                                    </p>
                                </div>
                            </div>
                        </div> -->

                        <!-- Messages -->
                        <div class="flex-1 overflow-y-auto" style="background-color: white">
                            <div class="py-2 px-3" *ngFor="let m of groupMessages">
                                <div [ngClass]="[ m.senderId == senderId ? 'flex items-end mb-2 flex-col  bg-[#dddbdb] w-fit ml-auto' : 'flex mb-2 bg-[#2563EB] text-white w-fit']" >
                                    <div class="rounded-full py-1 px-2" >
                                        <p *ngIf="m.senderId != senderId" class="text-right text-xs font-bold text-grey-dark mt-1">
                                            {{m.lsender}} {{m.fsender}}
                                        </p>
                                        <p *ngIf="m.senderId == senderId"  class="text-right text-xs font-bold text-grey-dark mt-1">
                                            You
                                        </p>
                                        <p class="text-sm mt-1" >
                                            {{ m.message }}
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Input -->
                        <div class="bg-grey-lighter px-4 py-4 w-full">
                            <form class="flex flex-row w-full">
                                <input class="w-full border rounded px-2 py-2 mr-5" type="text" name="messageInput" [(ngModel)]="messageBody" />
                                <button class="py-2 px-8 capitalize tracking-wide bg-gray-800 text-white font-medium rounded hover:bg-gray-700 focus:outline-none focus:bg-gray-700" (click)="onSendMessage()">Send</button>
                            </form>   
                        </div>
                    </div>
