
    <div class=" flex flex-col w-64 bg-[#2563EB] h-screen  border-r">
      <div class="pl-9 flex justify-start items-center gap-x-2 h-14  border-b">
        <img src="../../assets/icons8-windows-client-48.png" alt="company_logo" style="width: 40px;height: 40px;" />
        <p class="text-white self-center font-bold text-lg">Windows</p>
      </div>
      <div class="overflow-y-auto overflow-x-hidden flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
          <li class="px-5">
            <div class="flex flex-row items-center h-8">
              <div class="text-sm font-light tracking-wide text-gray-300">Menu</div>
            </div>
          </li>
          <li>
            <a routerLink="/dashboard/employees/SPACE/1" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Home</span>
              
            </a>
          </li>
          <li (click)="showUnitsDropDown()" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            
              <span class="inline-flex justify-center items-center ml-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                </svg>                  
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Units</span>
              <span class="ml-auto" aria-hidden="true">
                <!-- active class 'rotate-180' -->
                <svg
                  class="w-5 h-5 transition-transform transform"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            
          </li>
          <li *ngIf="unitsDropDown">  
              <div  (click)="showUnitsDropDown2()">
                <a [routerLink]="['/dashboard/chat/SPACE/',spaces[0].id]" class="ml-3 pl-2 flex flex-row gap-x-2 bg-white text-black hover:bg-gray-50 hover:text-gray-800 py-2">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                    </svg>                      
                </span>
                <span>
                    <p class="text-sm py-1">{{ spaces[0].name }}</p>
                </span>
                <span class="ml-auto mr-5 mt-1" aria-hidden="true">
                  <!-- active class 'rotate-180' -->
                  <svg
                    class="w-5 h-5 transition-transform transform"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </span>
              </a>
               </div> 
               <div *ngIf="unitsDropDown2">
                 <div  class="flex flex-col"  *ngFor="let profession of spaces[0].professions" (click)="showUnitsDropDown3()">
                  
                  <a [routerLink]="['/dashboard/chat/PROFESSION/',profession.id]" class="ml-3 pl-2 flex flex-row gap-x-2 bg-white text-black hover:bg-gray-50 hover:text-gray-800 py-2">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                        </svg>                      
                    </span>
                    <span>
                        <p class="text-sm py-1">{{ profession.name }}</p>
                    </span>
                    <span class="ml-auto mr-5 mt-1" aria-hidden="true">
                      <!-- active class 'rotate-180' -->
                      <svg
                        class="w-5 h-5 transition-transform transform"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                      </svg>
                    </span>
                  </a>
                  
                  <div *ngIf="unitsDropDown3">
                  <div class="flex flex-col" *ngFor="let departement of profession.departements" (click)="showUnitsDropDown4()">      
                    <a [routerLink]="['/dashboard/chat/DEPARTEMENT/',departement.id]" class="ml-3 pl-2 flex flex-row gap-x-2 bg-white text-black hover:bg-gray-50 hover:text-gray-800 py-2">
                          <span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  ">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                              </svg>                      
                          </span>
                          <span>
                              <p class="text-sm py-1">{{ departement.name }}</p>
                          </span>
                          <span class="ml-auto mr-5 mt-1" aria-hidden="true">
                            <!-- active class 'rotate-180' -->
                            <svg
                              class="w-5 h-5 transition-transform transform"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                          </span>
                      </a>
                       <div *ngIf="unitsDropDown4" (click)="showUnitsDropDown4()">
                        <div *ngFor="let minideps of departement.miniDeps">
                           <a [routerLink]="['/dashboard/chat/MINIDEPS/',minideps.id]" class="ml-3 pl-2 flex flex-row gap-x-2 bg-white text-black hover:bg-gray-50 hover:text-gray-800 py-2" >
                              <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                                  </svg>                      
                              </span>
                              <span>
                                  <p class="text-sm py-1">{{ minideps.name }}</p>
                              </span>
                              <span class="ml-auto mr-5 mt-1" aria-hidden="true">
                                <!-- active class 'rotate-180' -->
                                <svg
                                  class="w-5 h-5 transition-transform transform"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                                >
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                </svg>
                              </span>
                          </a>
                        </div>
                      
                        </div>  
                </div>
                      </div> 
                   
                </div> 
                
               </div>
              
               
                   
          </li>
          <li>
            <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Messages</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/management/employees/SPACE/1" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
                </svg>                
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">Management</span>
            </a>
          </li>
          
     
        </ul>
        <a class="flex items-center cursor-pointer absolute bottom-3 px-4 py-2 text-base font-semibold text-white rounded-lg darkk:text-white  hover:bg-opacity-30 darkk:hover:bg-gray-700" (click)="logout()">
          <i class="fa-solid fa-sign-out fa-lg text-white transition duration-75 darkk:text-gray-400 darkk:group-hover:text-white"></i>
          <span class="ml-3">Logout</span>
        </a>
      </div>
    </div>
 