<section class="pt-20 pb-28">
    <div class="max-w-2xl sm:mx-auto md:text-center xl:max-w-none">
        <h2 class="font-display text-4xl tracking-tight text-center">
                Reviews from our users
        </h2>
        <p class="mt-6 text-lg tracking-tight">
            <span class="inline sm:inline-block">We Improve the life, in your work space by offering different finctionalities</span> <span class="inline sm:inline-block"><span class="border-b border-dotted">now can be done directly in Notion</span>.</span>
          </p>
    </div>
    
    <div class="flex flex-row justify-evenly mt-6 pt-10 flex-wrap gap-y-20">
        <div class="text-center mx-1 w-1/4 gap-y-2 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
                 
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>                
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
        <div class="text-center mx-1 w-1/4 gap-y-2 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
                 
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>                
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
        <div class="text-center mx-1 w-1/4 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>    
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
        <div class="text-center mx-1 w-1/4 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>    
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
        <div class="text-center mx-1 w-1/4 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>    
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
        <div class="text-center mx-1 w-1/4 flex flex-col gap-y-2">
            <div class="flex justify-center items-center">
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
                <img src="../../../assets/icons8-christmas-star-48.png" style="width:25px;height:25px;"/>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>    
            </div>
            <div class="self-center">
                <img class="rounded-full" src="../../../assets/d.jpg" alt="" style="width:45px;height:auto;">
            </div>
        </div>
    </div>
</section>