<section>
    <h2 class="font-display text-4xl tracking-tight text-center">
         Reviews from people that already used myCompany
    </h2>
    <div class="flex flex-row justify-evenly mt-6">
        <div class="text-center w-1/4 gap-y-2 flex flex-col gap-y-2">
            <div>stars</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
                 
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>                
            </div>

        </div>
        <div class="text-center w-1/4 gap-y-2 flex flex-col gap-y-2">
            <div>stars</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
                 
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>                
            </div>

        </div>
        <div class="text-center w-1/4 flex flex-col gap-y-2">
            <div>stars</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Magni numquam nobis mollitia totam reprehenderit labore blanditiis voluptate placeat
            </p>
            <div>
            <h3 class="font-bold">Doufare Jawad</h3>
            <p>ceo of nothing</p>    
            </div>
            
        </div>

    </div>
</section>