
  
    <!-- Login component -->
    <div class="flex shadow-md">
      <!-- Login form -->
      <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white" style="width: 24rem; height: 32rem;">
        <div class="w-72">
          <!-- Heading -->
          <h1 class="text-xl font-semibold">Welcome back</h1>
          <small class="text-gray-400">Welcome back! Please enter your details</small>
  
          <!-- Form -->
          <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="signin()">
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Email</label>
              <input type="email" placeholder="Enter your email" class="block w-full rounded-md border border-gray-300 focus:border-purple-700 focus:outline-none focus:ring-1 focus:ring-purple-700 py-1 px-1.5 text-gray-500" name="email" formControlName="email"/>
              <span for="email" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="mb-1 text-xs sm:text-sm tracking-wide text-red-600 italic">Entrer votre email</span>
            </div>
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Password</label>
              <input type="password" placeholder="*****" class="block w-full rounded-md border border-gray-300 focus:border-purple-700 focus:outline-none focus:ring-1 focus:ring-purple-700 py-1 px-1.5 text-gray-500" name="password" formControlName="password"/>
              <div class="mb-1 text-xs sm:text-sm tracking-wide text-red-600 italic" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                <span *ngIf="loginForm.get('password')?.getError('required')">Le mot de passe est obligatoire</span>
                <span *ngIf="loginForm.get('password')?.getError('minlength')">Le mot de passe doit contenir au moins 6 caractères</span>
              </div>
            </div>

            <div class="mb-3 flex flex-wrap content-center">
              <input id="remember" type="checkbox" class="mr-1 checked:bg-purple-700" /> <label for="remember" class="mr-auto text-xs font-semibold">Remember me</label>
              <a href="#" class="text-xs font-semibold text-purple-700">Forgot password?</a>
        </div>
  
            <div class="mb-3">
              <button type="submit"  class="mb-1.5 block w-full  text-center text-white bg-gradient-to-b from-blue-500 to-blue-600 hover:bg-purple-900 px-2 py-1.5 rounded-md" >Sign in</button>
            </div>
          </form>
  
          <!-- Footer -->
          <div class="text-center">
            <span class="text-xs text-gray-400 font-semibold">Don't have account?</span>
            <p  (click)="onSwitch()" class="text-xs font-semibold text-purple-700 cursor-pointer">Sign up</p>
          </div>
        </div>
      </div>
  
      <!-- Login banner -->
      <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
        <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="../../assets/dima-solomin-_OVjLATyN_U-unsplash.jpg">
      </div>
  
    </div>
  
 
